@import "_reset";
@import "_mixin";

// loading style
@import "_loading";

html {
    font-size: 10vw;
}

// 国内网站通用字体设置
body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

h1 {
    font-size: 1rem;
}

// iphone safari 底部分享栏高度为68px
